<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <style>
    .image-ht{
      height: 500px;
      border:5px red solid;
      position:unset;
    }
  </style>
  <body>
  
     {{>navbar}}
       <h1>Secret page</h1>
       <h2>This is card </h2>
       <div class="card mb-3" style="max-width: 540px; margin-left:20%">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://cdn.pixabay.com/photo/2022/02/17/04/54/animal-7017939_960_720.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Jhon Simon</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <h3>Founder(Kongo Services)</h3>
      </div>
    </div>
  </div>
</div>

 <!-- services -->
 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">AC Services</h5>
         <ul>
          <li>Install New Ac</li>
          <li>Buy and Sell (second hand)</li>
          <li>Gas Filling</li>
          <li>Repair</li>
          <li>Service</li>
        </ul>
        <a href="#" class="btn btn-primary">Book Service</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Refrigerator Services</h5>
        <ul>
          <li>Repair</li>
          <li>Buy and Sell (second hand)</li>
          <li>Gas Filling</li>
          <li>Service</li>
        </ul>
        <a href="#" class="btn btn-primary">Book Service</a>
      </div>
    </div>
  </div>
</div>

        
        <h2>THis is carousel Part</h2>    

        <!--       Carousel             -->
       
      
        <div id="carouselExampleSlidesOnly"  class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/3964736/pexels-photo-3964736.jpeg" class="d-block w-100 image-ht"  alt="Not Found">
    
              </div>
                <div class="carousel-item ">
                  <img src="https://images.pexels.com/photos/4068316/pexels-photo-4068316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 image-ht" alt="Not found">
      
                </div>
                <div class="carousel-item ">
                  <img src="https://images.pexels.com/photos/7189291/pexels-photo-7189291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 image-ht" alt="Not found">
      
                </div>
                
                <div class="carousel-item ">
                  <img src=" https://images.pexels.com/photos/3637728/pexels-photo-3637728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 image-ht" alt="Not found">
      
                </div>
            </div>
          </div>
        
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
 
</html>

